language: java
jdk:
- oraclejdk8

# force upgrade Java8 as per https://github.com/travis-ci/travis-ci/issues/4042 (fixes compilation issue)
addons:
  apt:
    packages:
      - oracle-java8-installer

sudo: false
# as per http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/

# script for build and release via Travis to Bintray
script: gradle/buildViaTravis.sh

# cache between builds
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle

env:
  global:
  - secure: Vwv5vS0ZKg3yBdzOUNLhfQDPhfYU6ZR6kJxQ5yKNqZXcAjhLAdx3ZzQMqUTEV1nsID/eAXrPkkHMWlAgCRWOa3RiOBWBCSBTMNmaVKx00SqvOlol5buCia36PaeF3EFRpsfeOjj6aTqEF/1N57RJ3siXdEjmj5a4R1hCMIU6KIlDDg5tG6YTJaSx8BZr/LHsibxMes79+SDvUalU5qAJk+D/pvTcE+WsPjEaBWGoXTIacOf1DIh4CjrBOJ9vOgZU+XsxbdnkJWVuXzVxL1PfY0VYnBAKKQbTirHRahc/t+rogSCl30EByzcdBGAZuI+r5+DIfxAlUFxQadp7dtlbvTTNmqK0w5dbim2L7ZMw5YQV4xGXxjLHWot52cOxrJmsXD0hAA6KczC7JlAbuVZXEVCnGnw1oeEhtvXZmN/pb+AQHhCI6/RZKnIVl/TXz1IAJBfJiwFJAPxuX/wLuW2k9BRhtxw8cqrsQlHlP8GNlpEcmbEW6EQ40UG428RQQoVBqImzcCMuEglZBFbuaB5tP/tNmIO97LSxjr/J5agC5dIq3V3knOYDe45GrdFOIHgUHwAe5loz1uf7k8fR5BI+zF4m5xYyPqDMJ6y89y2KZ0Vf7QrKsVFDzMoJLqD0osi5d1/pRF+p7+4kdXc/yGElooBgQq38TahPKk3LxggIS1E=
  - secure: MrvRjKvzuxxucph0qfOKA5jC6BwxZc5inUQM9gXYDNJa6fiNVN65oED64ka9DoCH/+u2l7tyqqaDM7RP1EgpC2PG65723WgISUqlpYbjYmFWwfL/zJnOsGEJlCnoO9mD9lmbYxoZ74Jh3wI24qHtyINUxEHjWP1wPxjT9APaDXFMo2Ls5z6pHLiELe1HRx5hAe6+22RsfH8ZsT/TExmpXf7CYIgA/d4TYc1fzGuybc4mvwI2NVaxKXl6I2YYVwZIA98r48cqWsCLtBdwE6FTdSPPKcXojn1vCAGF3MJpzGzdj+EP2NvuXXVmhWbxN/tlVpfEVMEOxa6iFepXDHO2nUtgcwH1FOX9UZoCMnLygkBnm2gG1RXXqxqqrS/o3OCEMGk912XU/yQrF3LqA+5NPVCKzT3ga7OzlYLPPEFIPIF25hSaDag1IfJxWVI/P0Q9eUJNWa+B+GDwMIPg8rIKwzGaAwEUOAxOLIJcGVqhE9msCGVzLmyhtTOoVeRc1WMVcWzAGwA3U+Dz1iI5hRbsm+pzlf2luvN/GJTqI5wOzMW25YfQkwv7aE77vcA6a5fNA8QksAb09khDhADZlstZ5RSihhFIYK5w724AuzWuGpykPQyv8doGwN7mhVqCUy5yLb1jeWs3lbfW+WUqXMpMy1hS1bjqYte+pcgZAZ0kHgM=
  - secure: aaTIAQxdyuiD21AgjS2pQtuke205L1TFDsxCMxBs4tbtm8Gfunqg6gFPfzBDc6koc8cLxHdWH9epJx6xzgCCdWiN3b0BvBe25gMapU06eNoP56zLD/Ge8QS9oaXril9GFUhJ44kk4BL7F3sG/syFnKJ5GxBaYLsSoQrKHfvStNd8fbnTvTE6HVsJFDNm04ElqZlynD9WADmbuMrRlzySRHftnbyzpaR6MFKV0mteSS1pG3Rd/e2rL/Zo8dHMppzxETiMshQe/H4Kntzl07uzxTPGhfHZc0hLAHAutPDdek88ViodO0zVYJ8rd/xAqOiodcXjUxuIwhj6qN0s2gpZcgaabcRF0MK88MSpBp5ST2ojFVEM++v57BxYxCygnrf/pCBYLluyvYwDndEVNVr/fWVnTpg8xsy/LN3i0ezIWONPSdXaui5HMxs18e7Xzs6Ax+FP7/uyktMxlUqhGMLdhuwX6H6E/lI/oqZlxnDqJ4VH//yRATOjh3Hx88KV0oIV78SRPde6dO/vS5rwBOOOABxmFiek4CK19AfHNw7ifIEbxGCTN4qJbuUt8E6it3yj9HTBacBD8uWcbuyEkhfs9lPzlb01dXMfwmgzZgVwLq8HuKcA59aJwgL7rsUVpayX7afA7jrCBbjGgRzvrwwkaWfWy+3wOlXpAtvsxl14MFo=
  - secure: HyNJhLJsyUG4t66t/3lJVoLNG2DyuTPvGPAxmS6VTiAq7dcoVRQ54EQ3+yGrNiV1ZpEVWDbV1QVzhpGIQMahahdknMyuhMDnqyQLurf+wqupN/DsSsf8wub+GJQMg38VcotqEzY0QITmVd4MFh6Y1/VzuPnjVfwerJIxHcNkg93w5D9m+R87j5Q2GCKOGbxhal5kYzm9PxU+if9xFjS6h/deJFlheP8MKJpLOsa+xXb/waFbFmJCO3Tx1S/7bm0OcRaqMIgMnrWMsMnEcIR/UDBt4HQLwGlCaG62YHLc/sDXI84Axf/we5K7nayQ9HvjvQL7JSQFWNbQUJgKk/TYPpvZULCaaKvla0o7gOb7PUgiaLPow3KT00vtfT35m8neFD+CeJdLyNhpPP2aJ+KL9z1foHm8Y1I/KjEC+1Rrg4Rpm6nMGznzcHmEkF9qY0LjhezVejMPtYkEKOjKGRIiv8YePwSWgYGnCJmHXeFugEiE+2axR8ytAvAO6kSpxlVuQzFlFgXgxnvWpw1TOUvRyctcZOBq5pa7Qckq2oyuXKw0WH0FY0L6TKPMsUeZhXjmy74YI51xb/HxZFbJVLoBjQ9NX0y1vu8ND5aFvHqylP51BQvtez2TrL4LSj5Y2JYFUkQjNDeB7f2vM8TZpHhGAeRXR25DDex/jYmMUVEquMA=
